#!/bin/sh
### BEGIN INIT INFO
# Provides:          cgate
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Should-Start:      $portmap
# Should-Stop:       $portmap
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Example initscript
# Description:       This file should be used to construct scripts to be
#                    placed in /etc/init.d.
### END INIT INFO


# CGATEDIR=/data/cgate/cgate_2_11_3_3249
# CGATEDIR=/data/cgate/cgate_2_10_6_3145
# CGATEDIR=/data/cgate/cgate_2_9_8_3077
CGATEDIR=/data/cgate/cgate_2_8_0_2316
# CGATEDIR=/data/cgate/cgate_2_8_0_2303

JAVARE=/data/jdk/jdk1.8.0_91/bin/java
# JAVARE=/data/jdk/jdk1.7.0_75/bin/java

# test -x $CGATEDIR/cgate.jar || exit 0
CGATEJAR=$CGATEDIR/cgate.jar
CGATEPID=$CGATEDIR/cgate.pid
PARAMS="-Djava.awt.headless=true -jar -noverify $CGATEJAR"
LOCKFILE="$CGATEDIR/cgate.lock"
case "$1" in
start)
        echo -n "Starting C-Gate server:"
        cd $CGATEDIR
        start-stop-daemon --start \
                --chdir $CGATEDIR \
                --make-pidfile --pidfile $CGATEPID \
                --exec $JAVARE \
                -- $PARAMS &
        echo "."
        ;;
stop)
        echo -n "Stopping C-Gate server:"
        start-stop-daemon --stop --quiet \
                --pidfile $CGATEPID
        if [ -e $CGATEPID ]
                then rm $CGATEPID
        fi
#       rm $CGATEPID
#       rm $LOCKFILE
        echo "."
        ;;
restart)
        echo -n "Restarting C-Gate server:"
        cd $CGATEDIR
        start-stop-daemon --stop --quiet \
                --pidfile $CGATEPID
#       rm $CGATEPID
#       rm $LOCKFILE
        start-stop-daemon --start \
                --chdir $CGATEDIR \
                --make-pidfile --pidfile $CGATEPID \
                --exec $JAVARE \
                -- $PARAMS &
        echo "."
        ;;
*)
        echo "Usage: /etc/init.d/cgate (start|stop|restart)"
        exit 1
        ;;
esac
exit 0