[Unit]
Description=Serial2Sock

[Service]
WorkingDirectory=/data/ser2sock
ExecStart=/data/ser2sock/ser2sock -d -p 10001 -s /dev/ttyS2 -b 9600
ExeStop=killall ser2sock
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
